{% extends 'Index.html' %}
{% load static %}
{% block link %}{% static 'css/RL.css' %}{% endblock %}

{% block title%}Авторизация{% endblock %}

{% block content %}
<form method="POST" novalidate class="form">
	{% csrf_token %}
	{% if messages %}
		<div class="error">
			{% for message in messages %}
			{{ message }}
			{% endfor %}
		</div>
	{% endif %}
	{% for field in form %}
		{{field}}
	{% endfor %}
	<div class="buttons">
		<input type="submit" value="Вход" class="Reg" />
		<input type="" value="Вход через ВК" class="VK" />
	</div>
</form>
{% endblock content%}