{% extends 'Index.html' %}
{% load static %}
{% block link %}{% static 'css/RL.css' %}{% endblock %}

{% block title%}Авторизация{% endblock %}

{% block up%}
{% if messages %}
<dialog class="error" open="open" id="closeMe" style="margin:0px; padding: 0px;">
	<form method="dialog" class="error" autocomplete="off">
		<button class="error">
			<img src="{% static '/img/Ошибки входа.png' %}" style="object-fit: fill ">
		</button>
	</form>
</dialog>
{% endif %}
{% endblock %}

{% block content %}
<form method="POST" novalidate class="form" autocomplete="off">
	{% csrf_token %}

	{% for field in form %}
	{{field}}
	{% endfor %}
	<div class="buttons">
		<input type="submit" value="Вход" class="Reg" />
		<input type="" value="Вход через ВК" class="VK" />
	</div>
</form>
<div style=" margin-top: auto;"></div>
{% endblock content%}