<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <link rel="stylesheet" href="{% block link%}{% endblock %}">

    <title>{% block title%}{% endblock %}</title>
</head>
{% block up%}{% endblock %}

<body>
    <div>
        <img src="{% static 'img/Menu.png' %}" style="width: 100%; height: auto;"></img>
        <div style="display: grid; grid-template-columns: 15% auto 15%;">
            <div></div>
            <div>{% block content%}{% endblock %}</div>
            <div></div>
        </div>
    </div>
</body>
<footer>
    <div>
        <a href="https://vk.com/vpnntu_2022" target="_blank">
            <img src="{% static 'img/VK.png' %}">
        </a>
        <a href="https://vk.com/profkomngtu" target="_blank">
            <img src="{% static 'img/Проф.png' %}">
        </a>
        <a href="https://www.nntu.ru/" target="_blank">
            <img src="{% static 'img/НГТУ.png' %}">
        </a>
    </div>
</footer>

</html>