{% extends 'Index.html' %}
{% load static %}
{% block link %}{% static 'css/HA.css' %}{% endblock %}

{% block title%}Главная{% endblock %}

{% block content %}

<body>
    <div style="display: grid; grid-template-columns: auto">
        <div>
            {% for obj in objT%}
            <div class="teacher">
                <div class="paint">
                    <img src="{{ obj.foto.url }}" class="photo">
                    <div style="margin-top: 15%;">
                        <p class="name">{{obj.second_name}}</p>
                        <p class="name">{{obj.first_name}}</p>
                        <p class="info">Кафедра: {{obj.department}}</p>
                        <p class="info">Стаж: {{obj.experience}}</p>
                    </div>
                </div>
                <p class="about">{{obj.about}}</p>
            </div>
            {%endfor%}
            {% for obj in objS%}
            <div class="student">
                <img src="{{ obj.foto.url }}" class="photo">
                <div>
                    <p class="name">{{obj.second_name}}</p>
                    <p class="name">{{obj.first_name}}</p>
                    <p class="info">Институт: {{obj.institute}}</p>
                    <p class="info">Группа: {{obj.group}}</p>
                </div>
                <p class="about">{{obj.about}}</p>
            </div>
            {%endfor%}
        </div>
    </div>
    {% endblock content%}